{% extends "maykin_2fa/login.html" %}
{% load solo_tags i18n %}


{% block footer %}
    <div id="footer"></div>
{% endblock %}


{% block extra_login_options %}
    {% get_solo 'mozilla_django_oidc_db.OpenIDConnectConfig' as oidc_config %}
    {% if oidc_config.enabled %}
        <div class="admin-login-divider"><span>{% trans 'or' %}</span></div>
        <div class="admin-login-option admin-login-option--oidc">
            <a href="{% url 'oidc_authentication_init' %}">
                {% trans 'Login with organization account' %}
            </a>
        </div>
    {% endif %}
{% endblock %}


{% block extra_recovery_options %}
<li>
    {% trans 'Contact support' %}
</li>
{% endblock extra_recovery_options %}
